#------------------------------------------------------------------------------
# File:         onone.config
#
# Description:  This config file defines On1 XMP tags for writing.
#
# Usage:        exiftool -config onone.config -UserFlag=VALUE FILE ...
#
# Requires:     ExifTool version 10.28 or later
#
# Revisions:    2024/07/10 - P. Harvey Created
#------------------------------------------------------------------------------

%Image::ExifTool::UserDefined = (
  'Image::ExifTool::XMP::Main' => {
    onone => {
      SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::onone' },
    },
  },
);

%Image::ExifTool::UserDefined::onone = (
  GROUPS    => { 0 => 'XMP', 1 => 'XMP-onone', 2 => 'Other' },
  NAMESPACE => { 'onone' => 'http://www.ononesoftware.com/vcb/1.0/' },
  WRITABLE  => 'string',
  UserFlag  => { },
);

1;  #end
